.white{
    background-color: rgb(247, 244, 244);
    height: 100px;
    width: 50px;
    text-align: justify;
}

.black{
    background-color: #000;
    width: 30px; 
    height: 50px; 
    position: absolute;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: -18px;     
}

body{
    background-color: rgb(14, 13, 13);
}

h1{
    color: white;
}